---
import "@/styles/main.scss";

import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import BaseHead from "@/partials/BaseHead.astro";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import { footerConfig } from "@/config/FooterConfig";
import { headerConfig } from "@/config/HeaderConfig";
import SearchModal from "@/layouts/helpers/SearchModal";
import BasicScripts from "@/layouts/BasicScripts.astro";
import { Toaster } from "@/components/ui/sonner";

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

// destructure frontmatters
const { title, meta_title, description, image, noindex, canonical } =
  Astro.props;

// console.log('Base meta:', title, meta_title, description, image, noindex, canonical);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      meta_title={meta_title}
      description={description}
      image={image}
      noindex={noindex}
      canonical={canonical}
    />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11268901351"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-11268901351');
    </script>

    <!-- Event snippet for 网页浏览 conversion page -->
    <script is:inline>
        window.addEventListener('load', function () {
            if (window.location.href.indexOf("https://eternalinkpoems.com/") != -1) {
                gtag('event', 'conversion', {'send_to': 'AW-11269036913/81qHCJvC7MIZEPG2v_0p'});
            }
        })
    </script>


  </head>
  <body>
    <TwSizeIndicator />

    <!-- disable showRssFeed showSearch -->
    <Header
      {...headerConfig}
      isSticky
      showSearch
      showToggleTheme
      showTwitter
      showGithub
    />

    <SearchModal client:visible />

    <main id="main-content">
      <slot />
    </main>

    <Footer {...footerConfig} />

    <Toaster className="mt-14" position="top-right" richColors client:load />

    <BasicScripts />
  </body>
</html>
